<div bgcolor="#F7F7F7">
    <div style="background-color:#f7f7f7">
        <table width="100%" bgcolor="#F7F7F7" cellpadding="0" cellspacing="0" border="0" style="text-align:center">
            <tbody>
            <tr>
                <td>
                    <table bgcolor="#F7F7F7" cellpadding="0" cellspacing="0" border="0" width="700" align="center" style="margin:0px auto">
                        <tr>
                            <td bgcolor="#F7F7F7" align="right" valign="top">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="100%">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
                                                <tbody>
                                                <tr>
                                                    <td height="39" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table> </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>


                        <tr>
                            <td bgcolor="#FFFFFF" align="center">
                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td height="36" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:16px;color:#505050!important;text-align:left;line-height:25.6px;font-weight:normal;text-transform:none">
                                            <p style="color:#505050!important;">Dear Mr/Ms ${fullName},</p>
                                            <p style="color:#505050!important;">
                                                Please confirm your email address for your account on ID system<br>
                                                As an extra security measure, we need to verify your email address ${email}.<br>
                                            </p>
                                            Best regards,<br>
                                            <b>ID Team</b><br>
                                            <br>
                                            <i>This email is auto-generated by the system. Please do not reply.</i>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td height="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    </tbody>
                                </table></td>
                        </tr>

                        <tr>
                            <td bgcolor="#F7F7F7" align="center">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                    <tr>
                                        <td id="m_4790268208304861421edit_text_3" align="center">
                                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                <tr>
                                                    <td height="10" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="25" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:12px;color:#808080;font-weight:normal;text-align:center;line-height:150%">
                                                        <div>
                                                            <em>© Copyright 2015 - 2020 XXX Company<br>All rights reserved.</em>
                                                        </div> </td>
                                                    <td width="25" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td height="20" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table></td>
                                    </tr>
                                    </tbody>
                                </table> </td>
                        </tr>
                        </tbody>
                    </table></td>
            </tr>
            </tbody>
        </table>
    </div>
</div></div>